TMDB_API_KEY=YOUR_API_KEY
# DATABASE_URL=sqlite:///./data/database/horagor.db
# DATABASE_URL=postgresql://horagor_user:votremotdepasse@localhost:5432/horagor_db
DATABASE_URL="postgresql://postgres.hfzbvagiudsyxhmcmzmy:[YOUR-PASSWORD]@aws-0-eu-west-3.pooler.supabase.com:6543/postgres"