# Environnement virtuel
.venv/
venv/
env/

# variables d'environnement
.env

# logs
*.log

# Python cache
__pycache__/
*.pyc

# Fichiers système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# =========================
# DATASETS
# =========================
# On ignore tout le contenu de data
data/**
# Mais on autorise les dossiers pour conserver l'arborescence
!data/**/
# Et on autorise les fichiers .gitkeep pour marquer les dossiers
!data/**/.gitkeep

# Exceptions : Fichiers sources à conserver sur Git
!data/raw/kaggle/horror_movies.csv
!data/raw/imdb/movie.sqlite




# Databases
*.sqlite
*.db