# Environnement virtuel
.venv/
venv/
env/

# variables d'environnement
.env

# logs
*.log

# Python cache
__pycache__/
*.pyc

# Fichiers système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# =========================
# DATASETS
# =========================

# 1. On ignore TOUS les fichiers par défaut dans ces dossiers
data/raw/*
data/cleaned/*
data/gold/*

# 2. MAIS on autorise Git à explorer les sous-dossiers (on ne les ignore pas)
!data/raw/*/
!data/cleaned/*/
!data/gold/*/

# 3. On autorise explicitement les fichiers .gitkeep à n'importe quelle profondeur
!data/raw/**/.gitkeep
!data/cleaned/**/.gitkeep
!data/gold/**/.gitkeep

# Databases
*.sqlite
*.db