# Environnement virtuel
.venv/
venv/
env/

# variables d'environnement
.env

# logs
*.log

# Python cache
__pycache__/
*.pyc

# Fichiers système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# =========================
# DATASETS
# =========================

# On ignore tous les fichiers dans les sous-dossiers de data
data/raw/**
data/cleaned/**
data/gold/**

# MAIS on autorise explicitement TOUS les fichiers .gitkeep, peu importe la profondeur
!data/raw/**/.gitkeep
!data/cleaned/**/.gitkeep
!data/gold/**/.gitkeep

# Databases
*.sqlite
*.db